<nav class="navbar navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand" href="/">FRS Admin</a>
    <div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>

</nav>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 bg-white mt-5 p-5 rounded">
      <div class="row text-center">
        <div class="col-6 my-4">
          <h1>10</h1>
          <p class="text-muted">Total Users</p>
        </div>
        <div class="col-6 my-4">
          <h1>56</h1>
          <p class="text-muted">Total Products</p>
        </div>
        <div class="col-6 my-4">
          <h1>25</h1>
          <p class="text-muted">Total Customers</p>
        </div>
        <div class="col-6 my-4">
          <h1>5</h1>
          <p class="text-muted">Total Bills</p>
        </div>
        <div class="col-12 text-center mt-5">
          <a href="">View all users</a>
        </div>
      </div>
    </div>
  </div>
</div>
