<div class="d-flex vw-100 vh-100 align-items-center justify-content-center">
  <form class="bg-white rounded p-5" style="width: 500px">
    <h3 class="text-center mb-4 text-muted">Forgot Password</h3>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Enter your email"
        id="username"
        name="username"
      >
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
