<div class="d-flex vw-100 vh-100 align-items-center justify-content-center">
  <form class="bg-white rounded p-5" style="width: 500px">
    <h3 class="text-center mb-4 text-muted">Update Password</h3>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        placeholder="Enter new password"
        id="password"
        name="password"
      >
    </div>

    <div class="form-group">
      <input
        type="password"
        class="form-control"
        placeholder="Enter new password again"
        id="re-password"
        name="re-password"
      >
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
