<div class="d-flex vw-100 vh-100 align-items-center justify-content-center">
  <form class="bg-white rounded p-5" style="width: 500px" method="post" action="/login">
    <h3 class="text-center mb-4 text-muted">Admin Login</h3>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <button style="margin-left: 10px" type="submit" class="btn btn-primary" routerLink="/admin">Sign Up</button>

  </form>
</div>
